.card.horizontal .card-image img {
    border-radius: 0 0 0 0;
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto
}
.voteColor{
  color: whitesmoke !important;
}

.post-desc{
  word-wrap: break-word;
  max-width: 45%;
}

.post-desc-list{
  word-wrap: break-word;
  max-width: 100%;
}

.card-link-list{
  word-wrap: break-word;
  max-width: 100%;
}

.edit-btn{
  margin: 0 auto;
}

.highlight{
  background-color: teal;
}

.card-actions{
  margin-top: 30px;
}

.vote-number{
  margin-right: 20px;
  margin-top: 8px;
}